.Intro{

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(8, 100px);
  grid-gap: 1px;
  grid-auto-rows: minmax(100px, auto);

  margin-bottom: 100px;
}

.desc{

  grid-column: 2;
  grid-row: 2;
  align-items: baseline;
  justify-content: center;
  text-align: left;


}
.icons{
  grid-column: 2;
  grid-row: 4;
}

.down{
  top: 20%;
  grid-column: 2;
  grid-row: 6;

  left: 50%;



}

#arrow{
  grid-column: 2;
  grid-row: 6;
  width: 100px;
  height: 100px;

  position: relative;
  left: 50%;
  top: 0%;
    transform: translate(-50%, -50%);
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;


}

#name{
  font-size: 40px;
  padding: 1;
  margin-bottom: 5px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}
#info{

  font-size: 20px;
  margin-bottom: 5px;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
     -o-animation: fadein 4s; /* Opera < 12.1 */
        animation: fadein 4s;
}


.location{
  grid-column: 3;
  text-align: right;
    align-self: flex-start;



}

body{
  background-color: black;
  color: white;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
}
img{
  width: 25px;
  margin: 1px;
}
.location img{
  width: 50px;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
     -o-animation: fadein 5s; /* Opera < 12.1 */
        animation: fadein 5s;
}

#coco{
  -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 8s; /* Firefox < 16 */
    -ms-animation: fadein 8s; /* Internet Explorer */
     -o-animation: fadein 8s; /* Opera < 12.1 */
        animation: fadein 8s;
}
#surf{
  -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 8s; /* Firefox < 16 */
    -ms-animation: fadein 8s; /* Internet Explorer */
     -o-animation: fadein 8s; /* Opera < 12.1 */
        animation: fadein 8s;

}
#cam{
  -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 8s; /* Firefox < 16 */
    -ms-animation: fadein 8s; /* Internet Explorer */
     -o-animation: fadein 8s; /* Opera < 12.1 */
        animation: fadein 8s;
}
#pc{
  -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 8s; /* Firefox < 16 */
    -ms-animation: fadein 8s; /* Internet Explorer */
     -o-animation: fadein 8s; /* Opera < 12.1 */
        animation: fadein 8s;

}
/*--------------------POrtfolio-------------*/
.portforlio{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100px,250px,250px,250px 100px;

  grid-row-gap: 2px;

}
#label{
  font-size: 40px;
  text-align: center;
  grid-column: 2;
  grid-row: 1;

  margin-bottom: 10px;
  height: 100px;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
     -o-animation: fadein 4s; /* Opera < 12.1 */
        animation: fadein 4s;
}

.p1{

  grid-column: 2;
  grid-row: 2;
  min-height: 100px;
  height: 250px;
  position: relative;
}
.p1 img{
  height: 250px;
  width: 100%;
  object-fit: cover;

  opacity: 0.8;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
     -o-animation: fadein 4s; /* Opera < 12.1 */
        animation: fadein 4s;


}
.p1 img:hover{
  opacity: 0.4;

}
.p1 #text{
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 8s; /* Firefox < 16 */
    -ms-animation: fadein 8s; /* Internet Explorer */
     -o-animation: fadein 8s; /* Opera < 12.1 */
        animation: fadein 8s;

}





.p2{

  grid-column: 2;
  grid-row: 3;
  min-height: 100px;
  height: 250px;
  position: relative;

}
.p2 img{

  height: 250px;
  width: 100%;
  object-fit: cover;

  opacity: 0.8;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
     -o-animation: fadein 4s; /* Opera < 12.1 */
        animation: fadein 4s;
}
.p2 img:hover{
  opacity: 0.4;



}

.p2 #text{
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 8s; /* Firefox < 16 */
    -ms-animation: fadein 8s; /* Internet Explorer */
     -o-animation: fadein 8s; /* Opera < 12.1 */
        animation: fadein 8s;

}
.footer{
  grid-column: 2;
  grid-row: 4;
  min-height: 100px;
}

/*---------Keyframes load-----------------------*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
